@model BookShopBS23.ViewModels.AuthorDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <img src="data:@Model.PictureFormat;base64,@Model.AuthorPhoto" />
</div>
<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
